#about.section
  .container
    .row
      .span12
        h2 About Chloi
    .row    
      .span4
        img(src='src.png', style='width:90%;border:1px solid #000')
        
      .span8
        .block
          strong Chloi has a strong roots in mobile web, application design and systems architecture and integrations.
            
      
        h3 Values based development 
        p Building quality software is more then delivering a product on-time, it is about focusing on the right problems and providing a clear transparent way to solve them. 
              
        h3 Agile, open source culture.
        p Much of our cultural growth over the past few years comes from the research into, and implementation of Agile practices in creating software. We’ve embraced Agile Software Development techniques, and regularly revisit our processes to refine and improve.
        p We like to use Node.js as a web development framework because it offers superior testing and debugging tools, deployment management, extensive and growing libraries of open source code, as well as proven measures to maintain high security on your website and applications.
        
        h3 Lean &amp Mean
        p Having a great idea is often not enough, being able to test assumptions and cut directly to the minimum viable product can be the difference between a startup success or failure.
        
        p We have a proven track record with both Start-up's and Enterprise alike.