#about.section
  .container
    .row
      .span12
        h2 About Chloi
    .row    
      .span4
        img(src='src.png', style='width:90%;border:1px solid #000')
        
      .span4
        strong Since 2012, Chloi has designed and built web sites, web applications, iPhone apps, and system integrations for entrepreneurs, mature businesses, and non-profit organizations.
      
        h3 Values based development 
        p Chloi's vision is to grow a world-class consulting firm focusing on real problems in both the web and mobile markets. We believe in a strong balance between timelines, product quality and scope.
      
        h3 Agile       
        p We believe Chloi’s tremendous attribute is to be able to work anywhere in the software stack, this means being able to make tough architecture decisions in areas that could effect a unrelated piece of the stack. An example would be how a complex webpage relates to how data is modelled and queried. Another example is how an API can effect how the data is described in the database or consumed in an application.
      .span4
        h3 Lean &amp Mean
        p Need help cutting directly to your Minimum Viable Product. We are big believers in getting directly to the point and testing assumptions about your idea.
        
        p We have a proven track record with both Start-up's and Enterprise alike.