#community.section
  .container
    .row
      .span12
        h2 Community
    .row
      .span6
        h3 Free and Open
        p Whether it's contributing code, reporting bugs, or championing your own project, the advantages of leveraging and contributing to the open source community are undeniable. Don't be a relic of the past and ignore the amazing opportunities that free and open source brings. Having troubles getting started? Contact us, or show up to a local meet-up in your community.
        h3 Meetups
        p The Vancouver JavaScript community is thriving and has loads of involvement from local businesses and developers alike. As organizers of the Node Brigade, we would love to have you get involved. If you have a talk idea or would like to contribute in some other way don't hesitate to reach out to us.
        div(style="padding:20px 20px 0px")
          img(src="img/node-brigade-logo-500px.png", width="100%;")
      .span5.offset1
        h3
          a(href="http://phonegap.com") PhoneGap
        p Now renamed as Cordova and brought into the Apache family, PhoneGap was invented and authored by Brock Whitten and Rob Ellis to bring device functionality and cross platform development into the hands of open web technologists.
        h3
          a(href="http://xuijs.com") XUI
        p After PhoneGap was created it was quickly realized current DOM manipulation libraries were not sufficient under the constraints of mobile devices. Championed by Rob Ellis in 2009, XUI remains a goto tool for many applications and laid the foundation for alternatives such as ZeptoJS.
        h3
          a(href="https://github.com/sintaxi/node-dbox") dbox
        p Dbox is a NodeJS SDK for the official Dropbox API. It abstracts the irrelevant detail of speaking to a REST API while exposing the bits that are important, such as status code and body.