#contact.section
  .container
    .row
      .span12
        h2 Contact Us
          .btt <a href="#header">Top</a>        
    .row          
      .span7
        iframe(width='100%', height='400', frameBorder='0', src='http://a.tiles.mapbox.com/v3/sintaxi.map-hi5mm7hk.html#14.00/49.2839/-123.1164', class="map")
      .span5
        #alert
          h3 Have a project in mind?
        form.messages(method='post', action='/messages')
          label Name
          input.span4(type='text', name='name')
          label Email
          input.span4(type='text', name='email')
          label Message
          textarea.span5(name='body')
          button.btn.btn-large.btn-danger.pull-right Send
          
      .span4


#footer
  .container
    .copy
      &copy; 2012 Chloi Inc.