#contact.section
  .container
    .row
      .span12
        h2 Contact
    .row          
      .span8.well
        .row
          .span8
            a.map(href="#")
              img(src="img/map.jpg")
      .span4.well
        h3 Phone: 
          .subheah
            a(href="#") 778-987-9239
        h3 Email: 
          .subheah
            a(href="mailto:info@chloi.io") info@chloi.io
        h3 Twitter: 
          .subheah
            a(href="http://www.twitter.com/chloi") @chloi
      .span4
        form.well(method='post', action='/contact')
          h3 Like what you see? Have a project in mind, lets talk about it.
          input.span3(type='text', name='name', placeholder='Name')
          input.span3(type='text', name='email', placeholder='Email')
          textarea.span3(name='message', placeholder='Message...')
          button.btn.btn-large.btn-primary Send

#footer
  .container
    .copy
      &copy; 2012 Chloi Inc.