#contact.section
  .container
    .row
      .span12
        h2 Contact
    .row          
      .span8.well
        .row
          .span8
            a.map(href="#")
              img(src="img/map.jpg")
      .span4
        h3 Phone: 
          .subheah
            a(href="#") 778-987-9239
        h3 Email: 
          .subheah
            a(href="mailto:info@chloi.io") info@chloi.io
        h3 Twitter: 
          .subheah
            a(href="http://www.twitter.com/chloi") @chloi
      .span4
        h3 Have a project in mind? Lets talk about it.
        form(method='post', action='/contact')
          label Name
          input.span4(type='text', name='name', placeholder='Name')
          label Email
          input.span4(type='text', name='email', placeholder='we respect your privacy')
          label Message
          textarea.span4(name='message', placeholder='Tell us a bit about your product...')
          button.btn.btn-large.btn-primary Send

#footer
  .container
    .copy
      &copy; 2012 Chloi Inc.