#contact.section
  .container
    .row
      .span12
        h2 Contact
    .row          
      .span7
        .row
          .span7
            a(href="#")
              img(class="map", src="img/map.jpg")
        .row
          .span2
            h3 Phone: 
            a(href="#") 778-987-9239
          .span2
            h3 Email: 
            a(href="mailto:info@chloi.io") info@chloi.io
          .span2
            h3 Twitter: 
            a(href="http://www.twitter.com/chloi") @chloi
      .span5
        h3 Like what you see? Have a project in mind, lets talk about it.
        form
          label Name:
          input(type='text)
          label Email:
          input(type='text)
          label Message:
          textarea(style='width:340px;height:70px')
          <br />
          button(class='btn') Send us a message
