#header.section
  .container
    .row
      .span3
        h1.brand
          a(href="/")
            img(src='/img/chloi-mob-eng_514.png', alt="Chloi Inc", width="100%")
      .span9
        .nav-shell
          ul.nav
            li
              a(href='#what') About
            li
              a(href='#services') Services
            li
              a(href='#community') Community            
            li
              a(href='#contact') Contact
            li.number
              a(href='#') 778-786-3735