#header.section
  .container
    .navbar
      .navbar-inner
        .container
          a.brand(href="/")
            img(src='/img/chloi-wordmark-500px.png', style='width:180px')

          h1.leadin.navbar-text.nav.pull-right(style='') From the creators of PhoneGap
          ul.nav.pull-right
            li
              a(href='#about') About
            li
              a(href='#projects') Projects
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact
            li.navbar-text.spacer