#header.section
.container
  .navbar
    .navbar-inner
      #mobile-eng Mobile Engineering&nbsp;
        .number Phone: 778-987-9239&nbsp;&nbsp;
      a.brand(href="/")
        img(src='/img/chloi-wordmark-500px.png', style='width:260px')
  .container
    .navbar
      .navbar-inner
        ul.nav.pull-left
          li
            a(href='#what') About
          li
            a(href='#services') Services
          li
            a(href='#community') Community            
          li
            a(href='#contact') Contact
          li.navbar-text.spacer