#header.section
  .container
    .navbar
      .navbar-inner
        .container
          a.brand(href="#")
            img(src='/img/chloi_logo.png', style='width:340px')

          h1.leadin.navbar-text.nav.pull-right(style='') The Mobile Web Experts
          ul.nav.pull-right
            li
              a(href='#about') About
            li
              a(href='#projects') Projects
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact
            li.navbar-text.spacer