#home.section
  .container
    .row
      .span12(style="position:relative")
        img(src="img/header.jpg")
        h1(style="position:absolute;top:10px;left:40px;width:500px;text-align:left;color:#FFF;font-size:35px;") we build amazing mobile experiences using PhoneGap
        
          