#home.section
  .container
    .row
      .span12
        h1 The Mobile Web Experts
    .row
      .span8
        .hero-unit
          h2 Chloi is the premier PhoneGap consulting development studio
      .span4
        h3 What makes us experts? <br />We have a long history in mobile application development, we even created PhoneGap.