#introduction.section
  .container
    .row
      .span12
        h3 Introducing
        a.brand(href="#")
          img(src='/img/chloi_logo.png', style='width:100%')
        h4(style="text-align:right") Mobile Web Experts