#services.section
  .container
    .row
      .span12
        h2 Our Services
    .row
      .span4
        h3 In a nutshell, we help organizations build and grow their business online by providing strategic guidance, design, mobile &amp; web application development.
        p While Chloi is a new company, our team has been writing software since the mid nineties focusing on web and web applications. We have experience with scaling, e-commerce, geo-spacial, social and mobile development. 

        img(src="/img/responsive-illustrations.png")
      .span4
        img(src="/img/HTML5_Badge.png", width='100%')
        p We believe in Open Web Standards and HTML5 as a cornerstone to that promise. When developing cross-platform applications, HTML, CSS and JavaScript are the key ingredients in making sites work on any platform.
        
      .span4
        h3 Mobile Development
        ul
          li Mobile Development with PhoneGap
          li Mobile Web with Responsive Design
          li Offline Support with Cache Manifest &amp; indexDB
        h3 Server
        ul
          li Realtime System design &amp Architecture with Node.JS
          li API - Application Programming Interface design
          li Message Queues and Real-Time Socket design
        h3 Training and Support
        ul
          li Professional PhoneGap training and support.
          li Mobile Design and Web best practices.