#services.section
  .container
    .row
      .span12
        h2 Our Services
    .row
      .span4
        h3 In a nutshell, we help organizations build and grow their business online by providing strategic guidance, design, mobile &amp; web application development.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span4
        img(src="/img/HTML5_Badge.png", width='100%')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
      .span4
        h3 Mobile Development
        ul
          li Mobile Development with PhoneGap
          li Mobile Web with Responsive Design
          li Offline Support with Cache Manifest &amp; indexDB
        h3 Server
        ul
          li Realtime System design &amp Architecture with Node.JS
          li API - Application Programming Interface design
          li Message Queues and Real-Time Socket design
        h3 Training and Support
        ul
          li Professional PhoneGap training and support.
          li Mobile Design and Web best practices.