#services.section
  .container
    .row
      .span12
        h2 Our Services
    .row
      .span3
        // div(style="padding:30px 40px 20px 40px")
          img(src="/img/HTML5_Badge.png")
        h3 HTML5
        p The web has proven to be the platform that stands the test of time. By building your mobile experiences with open web technologies, you will ship sooner, iterate more rapidly, reach more people, and deliver superior mobile experiences to your competitors. Don't get locked into complex and proprietary development environments that are out of your control.
    
      .span3
        // div(style="padding:30px 40px 20px 40px")
          img(src="/img/HTML5_Badge.png")
        h3.right API First
        p Every great application is built on a first-class API. Those who treat their API as an afterthought are destined to treat their users that way. By making your API simple, secure, and designed with future changes in mind, you will give your users a superb experience regardless of the device you reach them through.

      .span3
        // div(style="padding:60px 10px 32px 10px")
          img(src="/img/responsive-illustrations.png")
        h3 Responsive Design
        p Building applications for specific devices is a path to insanity and a thing of the past. Every day new devices with different screen sizes and resolutions are coming onto the market. This makes your application difficult to develop and expensive to maintain. Building your application so it responds gracefully to devices of all sizes will have you focusing on solutions for your customers rather than mechanisms for all the devices.
    
      .span3
        // div(style="padding:60px 10px 32px 10px")
          img(src="/img/responsive-illustrations.png")
        h3 Cloud Services
        p Leveraging existing cloud services enhances your users experience and dramatically reduces your cost. Perhaps it's sending SMS through Twillio, file backups on Amazon's S3, or interfacing with your application with Dropbox. Regardless of your needs, there is likely a service that can help you move quicker and with less risk. Embrace the advantages that todays internet offers.
