#team.section
   .container
     .row
       .span12
         h2 The Team
     .row
       .span6
         .row
           .span6
             h3 Brock Whitten 
               a(href='http://www.twitter.com/sintaxi') @sintaxi
         .row
           .span2
             img(src='src.png', style='width:100%;border:1px solid #000')
           .span4
             p Brock is a rockstar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       .span6
         .row
           .span6
             h3 Rob Ellis 
               a(href='http://www.twitter.com/rob_ellis') @rob_ellis
         .row
           .span2
             img(src='src.png', style='width:100%;border:1px solid #000')
           .span4
             p Rob is also a rockstar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
