#what.section
  .container
    .row    
      .span6
        blockquote
          h3 Get to market faster, cheaper, and with less risk
        
        p We brought you PhoneGap and are now building next generation mobile experiences for your business. Every ounce of our energy is spent getting your application in the hands of your customers so your business can advance without friction.
        
        p Have an idea? 
          a(href="#") Contact us today!
        
      .span5.offset1
        .face(style="padding:0 20px 20px 20px")
          img(src='img/chloi-face-500px.png', class="chloi-icon")
        