#what.section
  .container
    .row    
      .span7
        blockquote
          h3 
            span.l1 Get to market 
            span.l2 faster
            span.l3 cheaper 
            span.l4 and with less risk
        
        p We brought you PhoneGap and are now building next generation mobile experiences for your business. Every ounce of our energy is spent getting your application in the hands of your customers so your business can advance without friction.
        
        
      .span5
        .face(style="padding:50px 30px 30px 30px")
          img(src='img/chloi-face-500px.png', class="chloi-icon")
        
        a(style="margin:30px 0px 0px 30px", class="btn btn-danger btn-large jumbotron", href="#contact") Have an idea? Contact us today
    