#what.section
  .container
    .row    
      .span7
        blockquote
          h3 
            span.l1 Get to market 
            span.l2 faster
            span.l3 cheaper
            span.l4 and with less risk
        p Brought to you by the creators of <a href="http://phonegap.com" target="_blank">PhoneGap</a>, Chloi is now available, to build next generation mobile experiences for your business. Every ounce of our energy is spent getting your application in the hands of your customers so your business can advance without friction.

      .span5
        .face(style="padding:40px 30px 48px 30px")
          img(src='img/chloi-face-500px.png', class="chloi-icon")
        
        p.jumbotron
          a(class="btn btn-danger btn-large", href="#contact") Have an idea? Contact us today
    