.navbar
  .navbar-inner
    .container
      A.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        SPAN.icon-bar
        SPAN.icon-bar
        SPAN.icon-bar
      A.brand(href="#") Chloi
      UL.nav-collapse
        LI.active
          A About
        LI
          A Team
        LI
          A Projects
        LI
          A Services
        LI
          A Contact Us