// != partial("introduction")
!= partial("header")
!= partial("home")
// != partial("team")
!= partial("about")
!= partial("projects")
!= partial("services")
!= partial("contact")

#myMydal.modal.fade
  .modal-header
    button.close(data-dismiss="modal") x
    h3(style='margin:0px') Easter Egg
  .modal-body
    p Text 4334 to 889-998-3223
  .modal-footer
    a.btn.btn-primary(href="#",data-dismiss="modal") Close