.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar
      a.brand(href="#")
        img(src='/img/chloi_logo.png', style='width:120px')
      ul.nav
        li.pull-right.active
          a(href='#about') About
        li.pull-right
          a(href='#team') Team
        li.pull-right
          a(href='#projects') Projects
        li.pull-right
          a(href='#services') Services
        li.pull-right
          a(href='#contact') Contact Us
          
          
h1(style='margin-top:120px') The Mobile Web Experts
h2 Subheading
h3 Heading three


#about
  h2 About
  p Lorem ipsum dolor sit amet, lorem aliquam. Lectus phasellus habitasse earum wisi, enim reprehenderit, leo bibendum augue purus et quo cum. Enim posuere interdum nibh vel purus, blandit in massa, augue earum suspendisse suscipit lacus mauris rhoncus, elit nec fusce massa, purus iaculis hymenaeos fringilla feugiat lectus sem. Justo felis sed dolor, sit sed neque tortor dolor, magna et libero, quis elementum sociosqu. Aenean mi suscipit in pulvinar, laoreet wisi donec, nunc viverra nam, eu suspendisse, dolor lacus vestibulum nunc et non amet. Torquent rutrum cursus sagittis tellus, eleifend ac.

  p Adipiscing porttitor erat ac luctus adipiscing in, condimentum ullamcorper, conubia enim ac dui, porttitor sollicitudin in lobortis metus fusce. Vel eget odio, donec justo nulla felis sociis donec, magna vel convallis diam vehicula, integer vestibulum odio sed at nec. Pulvinar et. Distinctio semper duis vitae, odio proin adipiscing tortor wisi, sit diam magna consequat nulla, commodo nibh, ut pellentesque morbi non vitae a. Sit a aliquam massa, rutrum pretium a amet, metus sodales, nec ligula est vestibulum cum rutrum non. Enim integer magna donec vivamus integer, taciti class in cras, ut elit mauris, nisl porttitor, varius neque et arcu sodales pretium. Ac tincidunt dis at taciti dolor, non nec enim venenatis mollis. Porta ut non maecenas, nunc ut sed, lorem varius nulla non vehicula, lacinia viverra interdum pellentesque proin, arcu velit metus platea. Nonummy elit accumsan amet. Molestie tellus diam, lorem facere. Fringilla a lobortis nibh eros lorem ut, convallis parturient massa, tristique duis in ante, pharetra vehicula platea duis felis venenatis. Suspendisse pellentesque malesuada impedit quis quis, ipsum luctus dignissim, risus interdum justo adipiscing convallis, mauris vitae ad arcu.

#team
  h2 Team
  p Lorem ipsum dolor sit amet, lorem aliquam. Lectus phasellus habitasse earum wisi, enim reprehenderit, leo bibendum augue purus et quo cum. Enim posuere interdum nibh vel purus, blandit in massa, augue earum suspendisse suscipit lacus mauris rhoncus, elit nec fusce massa, purus iaculis hymenaeos fringilla feugiat lectus sem. Justo felis sed dolor, sit sed neque tortor dolor, magna et libero, quis elementum sociosqu. Aenean mi suscipit in pulvinar, laoreet wisi donec, nunc viverra nam, eu suspendisse, dolor lacus vestibulum nunc et non amet. Torquent rutrum cursus sagittis tellus, eleifend ac.

  p Adipiscing porttitor erat ac luctus adipiscing in, condimentum ullamcorper, conubia enim ac dui, porttitor sollicitudin in lobortis metus fusce. Vel eget odio, donec justo nulla felis sociis donec, magna vel convallis diam vehicula, integer vestibulum odio sed at nec. Pulvinar et. Distinctio semper duis vitae, odio proin adipiscing tortor wisi, sit diam magna consequat nulla, commodo nibh, ut pellentesque morbi non vitae a. Sit a aliquam massa, rutrum pretium a amet, metus sodales, nec ligula est vestibulum cum rutrum non. Enim integer magna donec vivamus integer, taciti class in cras, ut elit mauris, nisl porttitor, varius neque et arcu sodales pretium. Ac tincidunt dis at taciti dolor, non nec enim venenatis mollis. Porta ut non maecenas, nunc ut sed, lorem varius nulla non vehicula, lacinia viverra interdum pellentesque proin, arcu velit metus platea. Nonummy elit accumsan amet. Molestie tellus diam, lorem facere. Fringilla a lobortis nibh eros lorem ut, convallis parturient massa, tristique duis in ante, pharetra vehicula platea duis felis venenatis. Suspendisse pellentesque malesuada impedit quis quis, ipsum luctus dignissim, risus interdum justo adipiscing convallis, mauris vitae ad arcu.

#projects
  h2 Projects
  p Lorem ipsum dolor sit amet, lorem aliquam. Lectus phasellus habitasse earum wisi, enim reprehenderit, leo bibendum augue purus et quo cum. Enim posuere interdum nibh vel purus, blandit in massa, augue earum suspendisse suscipit lacus mauris rhoncus, elit nec fusce massa, purus iaculis hymenaeos fringilla feugiat lectus sem. Justo felis sed dolor, sit sed neque tortor dolor, magna et libero, quis elementum sociosqu. Aenean mi suscipit in pulvinar, laoreet wisi donec, nunc viverra nam, eu suspendisse, dolor lacus vestibulum nunc et non amet. Torquent rutrum cursus sagittis tellus, eleifend ac.

  p Adipiscing porttitor erat ac luctus adipiscing in, condimentum ullamcorper, conubia enim ac dui, porttitor sollicitudin in lobortis metus fusce. Vel eget odio, donec justo nulla felis sociis donec, magna vel convallis diam vehicula, integer vestibulum odio sed at nec. Pulvinar et. Distinctio semper duis vitae, odio proin adipiscing tortor wisi, sit diam magna consequat nulla, commodo nibh, ut pellentesque morbi non vitae a. Sit a aliquam massa, rutrum pretium a amet, metus sodales, nec ligula est vestibulum cum rutrum non. Enim integer magna donec vivamus integer, taciti class in cras, ut elit mauris, nisl porttitor, varius neque et arcu sodales pretium. Ac tincidunt dis at taciti dolor, non nec enim venenatis mollis. Porta ut non maecenas, nunc ut sed, lorem varius nulla non vehicula, lacinia viverra interdum pellentesque proin, arcu velit metus platea. Nonummy elit accumsan amet. Molestie tellus diam, lorem facere. Fringilla a lobortis nibh eros lorem ut, convallis parturient massa, tristique duis in ante, pharetra vehicula platea duis felis venenatis. Suspendisse pellentesque malesuada impedit quis quis, ipsum luctus dignissim, risus interdum justo adipiscing convallis, mauris vitae ad arcu.

#services
p services

#contact
  h2 Contact
  p Lorem ipsum dolor sit amet, lorem aliquam. Lectus phasellus habitasse earum wisi, enim reprehenderit, leo bibendum augue purus et quo cum. Enim posuere interdum nibh vel purus, blandit in massa, augue earum suspendisse suscipit lacus mauris rhoncus, elit nec fusce massa, purus iaculis hymenaeos fringilla feugiat lectus sem. Justo felis sed dolor, sit sed neque tortor dolor, magna et libero, quis elementum sociosqu. Aenean mi suscipit in pulvinar, laoreet wisi donec, nunc viverra nam, eu suspendisse, dolor lacus vestibulum nunc et non amet. Torquent rutrum cursus sagittis tellus, eleifend ac.

  p Adipiscing porttitor erat ac luctus adipiscing in, condimentum ullamcorper, conubia enim ac dui, porttitor sollicitudin in lobortis metus fusce. Vel eget odio, donec justo nulla felis sociis donec, magna vel convallis diam vehicula, integer vestibulum odio sed at nec. Pulvinar et. Distinctio semper duis vitae, odio proin adipiscing tortor wisi, sit diam magna consequat nulla, commodo nibh, ut pellentesque morbi non vitae a. Sit a aliquam massa, rutrum pretium a amet, metus sodales, nec ligula est vestibulum cum rutrum non. Enim integer magna donec vivamus integer, taciti class in cras, ut elit mauris, nisl porttitor, varius neque et arcu sodales pretium. Ac tincidunt dis at taciti dolor, non nec enim venenatis mollis. Porta ut non maecenas, nunc ut sed, lorem varius nulla non vehicula, lacinia viverra interdum pellentesque proin, arcu velit metus platea. Nonummy elit accumsan amet. Molestie tellus diam, lorem facere. Fringilla a lobortis nibh eros lorem ut, convallis parturient massa, tristique duis in ante, pharetra vehicula platea duis felis venenatis. Suspendisse pellentesque malesuada impedit quis quis, ipsum luctus dignissim, risus interdum justo adipiscing convallis, mauris vitae ad arcu.