// .navbar
//   .navbar-inner
//     .container
//       .row
//         .span3
//           a.brand(href="#", width="100%")
//             img(src='/img/chloi_logo.png')
//         .span8
//           ul.nav.pull-right
//             li.active
//               a(href='#home') Home
//             li
//               a(href='#about') About
//             li
//               a(href='#team') Team
//             li
//               a(href='#projects') Projects
//             li
//               a(href='#services') Services
//             li
//               a(href='#contact') Contact Us
          

#header.section
  .container
    .row
      .span3
        a.brand(href="#")
          img(src='/img/chloi_logo.png', style='width:100%')

#home.section
  .container
    .row
      .span12
        h1 The Mobile Web Experts
    .row
      .span8
        .hero-unit
          h2 Chloi is the premier PhoneGap consulting development studio
      .span4
        h3 We are strong believers in the web, long before HTML5 and the first generation iPhone.
      
#about.section
  .container
    .row
      .span12
        h2 About
    .row    
      .span4
        p Chloi's vision is to grow a world-class consulting firm focusing on real problems in both the web and mobile markets. We believe in a strong balance between timelines, product quality and scope.
      .span4
        p We believe Chloi’s tremendous attribute is to be able to work anywhere in the software stack, this means being able to make tough architecture decisions in areas that could effect a unrelated piece of the stack. An example would be how a complex webpage relates to how data is modelled and queried. Another example is how an API can effect how the data is described in the database or consumed in an application.
      .span4
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    

#team.section
  .container
    .row
      .span12
        h2 The Team
    .row
      .span6
        .row
          .span2
            img(src='src.png', style='width:100%;border:1px solid #000')
          .span4
            h3 Brock Whitten <a href='http://www.twitter.com/sintaxi'>@sintaxi</a>
            p Brock is a rockstar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span6
      .row
        .span2
          img(src='src.png', style='width:100%;border:1px solid #000')
        .span4
          h3 Rob Ellis <a href='http://www.twitter.com/rob_ellis'>@rob_ellis</a>
          p Rob is also a rockstar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


#projects.section
  .container
    h2 Projects
    .row
      .span3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .span6
        .row
          .span2
            img(src='img/phonegap_logo.png', style="width:100%")
          .span4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .span2
            img(src='img/phonegap_logo.png', style="width:100%")
          .span4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .span2
            img(src='img/phonegap_logo.png', style="width:100%")
          .span4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .span3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

  

#services.section
  .container
    .row
      .span12
        h2 Our Services
    .row
      .span4
        h3 In a nutshell, we help organizations build and grow their business online by providing strategic guidance, design, mobile &amp; web application development.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span4
        img(src="/img/HTML5_Badge.png", width='100%')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
      .span4
        h3 Mobile Development
        ul
          li Mobile Development with PhoneGap
          li Mobile Web with Responsive Design
          li Offline Support with Cache Manifest &amp; indexDB
        h3 Server
        ul
          li Realtime System design &amp Architecture with Node.JS
          li API - Application Programming Interface design
          li Message Queues and Real-Time Socket design
        h3 Training and Support
        ul
          li Professional PhoneGap training and support.
          li Mobile Design and Web best practices.


#contact.section
  .container
    .row
      .span12
        h2 Contact
    .row
      .span4
        h3 Like what you see? Have a project in mind, lets talk about it.
        p Twitter: 
          a(href="http://www.twitter.com/chloi") @chloi
        p Email: 
          a(href="mailto:sales@chloi.io") sales@chloi.io
        p Phone: 
          a() 778-987-9239
      .span4
        form
          label Name:
          input(type='text)
          label Email:
          input(type='text)
          label Message:
          textarea(style='width:340px;height:70px')
          <br />
          button(class='btn') Send us a message
      

      