!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="/favicon.png")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    title Chloi - Mobile Consulting
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src="/js/jquery-1.7.0.min.js")
    script(src="/js/app.js")
    link(rel="stylesheet", href="/libs/prettify/prettify.css")
    link(rel="stylesheet", href="/css/bootstap-extlib.css", type="text/css")
    script(src="/js/bootstrap.js")
    // script(src="/js/bootstrap-modal.js")    
    script(src="/libs/prettify/prettify.js")
    if process.env.NODE_ENV != "production"
      link(rel="stylesheet/less", href="/css/app.less", type="text/css")
      script(src="/js/less-1.3.0.min.js")
    else
      link(rel="stylesheet", href="/css/app.css", type="text/css")
  body(onload="prettyPrint()", data-spy='scroll')
    != body
