#projects.section
  .container
    h2 Projects
    .row
      .span3
        p Chloi is a believer in open source, we have created and maintained several projects in both the mobile-web and server-side application stack.
        p We are always looking for ways to give back to the community, whether is be training, community engagement, speaking or open source contributions.
        p Check out our <a href="http://github.com/chloi" target="_blank">github profile</a> for more information on our projects. Or drop us a line if you think we would be a good fit for your project, conference, or company.
      .span9
        .row
          .span2
            img(src='img/phonegap_logo.png', style="width:100%")
          .span7
            p <a href="http://phonegap.com">phonegap.com</a>
            p PhoneGap, a cross platform HTML5 mobile application stack. Leveraging open web standards and simplifying development by reducing code complexity and domain specific knowledge, while providing a native user experience. 
        .row
          .span2
            .span(style="font-size:42px; font-family:Georgia,serif;margin:30px 45px") xui
          .span7
            p <a href="http://xuijs.com">xuijs.com</a>          
            p XUI was designed to be a light weight DOM and Event library for Mobile Application development. 
        .row
          .span2
            .span(style="font-size:42px; font-family:Georgia,serif;margin:40px 25px") dBox
          .span7
            p <a href="https://github.com/sintaxi/node-dbox">node-dbox</a>
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

