@import "base.less";

///////////////
// APP LAYOUT
///////////////

.main{
  border-left:1px solid #ddd;
  
  .header, .footer{
    background:#fff;
    padding-top:60px;
    padding-bottom:60px;
  }

  .content{
    background:#fff;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding-top:30px;
    padding-bottom:60px;
  }
}
