@import "base.less";

///////////////
// APP LAYOUT
///////////////


@font-face {
	font-family: 'ProximaNova';
	src: url('../font/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'ProximaNovaSemiBold';
	src: url('../font/ProximaNova-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../font/ProximaNova-Bold.otf') format('opentype');
}

h1 {
  font-size:48px;
  color:#141414;
  font-family: ProximaNovaBold;
  text-decoration:uppercase;
  padding-bottom: 20px; 
  border-bottom: 1px #ccc solid;
}

h2 {
  font-size:36px;
  font-family: ProximaNovaSemiBold;
  color:#5D5D5D;
  margin:20px 0px 0px;
}

h3 {
  font-size:18px;
  font-family: ProximaNovaSemiBold;
  color:#141414;
}


body, p, label {
  font-size:16px;
  font-family: ProximaNova;
}

body {
  background: url(../img/diamond-fringe_ver.png) repeat-y top left;
}

.section {
  border-bottom:3px dashed #ccc;
  min-height:300px;
}

