@import "blog/bootstrap.less";
@import "base.less";

///////////////
// BLOG LAYOUT
///////////////

.patch{
  background: @purple;
  min-height: @gridColumnWidth * 10;
}

.main{
  padding-top: @gridColumnWidth * 3;
  padding-bottom: @gridColumnWidth * 5;
}