/*
  Center Nav items
  Bootstrap supports pull-right, pull-left. 
  This completes the picture with `pull-center` on nav-pills, nav-tabs and navbar nav items
*/
.nav-tabs.pull-center > li, .nav-pills.pull-center > li, .navbar .nav.pull-center > li  {
    float:none !important;
    display:inline-block !important;
    *display: inline !important; /* for IE7*/
    *zoom:1;  /* for IE7*/
}

.nav-tabs.pull-center, .nav-pills.pull-center, .navbar .nav.pull-center  {
    text-align:center !important;
    float:none !important;
}

/* 
  Center Nav Brand 
  Due to lack of Qualified Selectors we cant use pull-center look-ahead.
  .center-brand needs to go on the .navbar DIV 
*/

.center-brand.navbar .brand {
    float:none;
    display:inline-block;
    *display:inline; 
    *zoom:1;
    vertical-align: top;
}

.center-brand .navbar-inner {
    text-align: center;
}

.center-brand .dropdown-menu {
    text-align: left;
}