
// Chloi colors
// -------------------------
@blue:                  #6dcfc7;
@blueDark:              #2cb191;
@green:                 #8ad164;
@lime:                  #d1e854;
@red:                   #42402b;
@yellow:                #f1f5be;
@orange:                #fcc743;
@purple:                #90528a;

