footer.footer(role="contentinfo")
  small Copyright &copy; 2012&ndash;#{ new Date().getFullYear() } <a href="#{ author.url }">#{ author.name }</a><br/>
    | Built with <a href="http://harpjs.com" title="Harp">Harp</a> and the <a href="https://surge.sh" title="Surge, static web publishing for front-end developers">Surge.sh</a>
