p We work with web typography frequently, so we like to explore its history.

p The sample issue of <cite>webty.pe: A Journal of Typography & the Screen</cite> is a record of one seminal essays on typographic history, paired with a contemporary article from the web.

figure.figure--aside
  img(src="/images/webty_pe-journal/wordmark.svg")
  figcaption
    | <strong>The wordmark we designed</strong> sets tone of the publication. It uses a typographic ornaments, more commonly seen in historical book design, as a dot in the URL.

figure.figure--breakout.figure--overlay
  img(src="/images/webty_pe-journal/webty_pe-more-meaningful-typography.jpg")
  figcaption In addition to the 80-page journal, we developed <strong>a multi-format ebook</strong> using one of our other projects, <a href="harp">Harp</a>.

figure.figure--aside
  img(src="/images/webty_pe-journal/webty_pe-being-read.jpg")
  figcaption
    | <strong>The use of typographic ornaments</strong> continues throughout the title pages of the ebook and 80-page print journal.

figure
  img(src="/images/webty_pe-journal/a-stack-of-journals-in-the-shop.jpg")

//- figure
//-   img(src="/images/webty_pe-journal/webty_pe-crystal-goblet.jpg")

figure.figure--aside
  img(src="/images/webty_pe-journal/webty_pe-on-the-shelf.jpg")
  figcaption
    | <strong>The print edition</strong> of <cite>webty.pe</cite> on the&nbsp;shelf.

//- figure
//-   img(src="/images/webty_pe-journal/webty_pe-wordmark-sketches.jpg")
