.container
  .main-container
    :markdown

      # 404 – Page Not Found

      Sorry, there’s nothing here. Instead, take a look at [the projects we’ve been part of](projects), or [say hello](contact) if you have questions.
