.container
  .main-container
    h1 About Chloi

    p.lead Chloi builds next-generation web and mobile experiences alongside our clients. We help get projects to real customers, quickly.

    p Launch faster, remain reliable, and gain the advantages of open source. <a href="mailto:info@chloi.io?subject=Hey Chloi">Let’s talk about your project.</a>

    h2 History

    p Chloi, Inc. was founded in 2012 by Brock Whitten and Rob Ellis. Prior to Chloi, they co-created <strong>Apache Cordova / PhoneGap</strong> in 2008, now one of the most popular ways to build cross-platform iOS and Android applications, and is core to projects at Adobe, Intel, and <abbr>IBM</abbr>.

    p They’ve collaborated on many other influential open source projects, worked on the first platform for hosting <strong>Node.js applications at Joyent</strong>, and are alumni of Mozilla’s Web<abbr>FWD</abbr> program.

    h2 The team

    p While the Chloi team enjoys sharing their open source projects, they also enjoy contributing closer to home. They organise the <a href="../workshops#meetups">Node.js</a>, <a href="../workshops#meetups"><abbr>CSS</abbr></a>, and <a href="../workshops#meetups">typography</a> meetups in Vancouver.

    figure
      img(src="/images/team/team.jpg")
      figcaption Jorge, Kenneth, Rob, and Brock. Sometimes they go for sushi.

    p: a(href="mailto:#{ author.email }?subject=Hi%20Chloi") We like getting emails. Say “Hi!”
