#footer
  .container
    .row
      .copy.span4
        &copy; 2012 Chloi Inc.
      .phones.span8
        img(src="/img/ca.png", alt="Canada:")
        span &nbsp;(778) 786-3735<br />
        img(src="/img/us.png", alt="US:") 
        span &nbsp;(415) 692-3507<br />
        span <a href="http://twitter.com/chloi_inc">@Chloi_Inc</a>