#header.section
  .container
    .row
      .span3
        h1.brand
          a(href="/")
            img(src='/img/chloi-mob-eng_514.png', alt="Chloi Inc", width="100%")
      .span9
        .nav-shell
          ul.nav
            li(class="#{ active == "team" ? "active" : "" }")
              a(href='/team') Team
            li(class="#{ active == "projects" ? "active" : "" }")
              a(href='/projects') Projects
            li(class="#{ active == "contact" ? "active" : "" }")
              a(href='/contact') Contact
            li
              a(href='http://words.chloi.io') Blog
            li.number
              a(href='#') 778-786-3735