#projects.section
  .container
    .row
      .span12
        h2 Projects
    .row
      .span12
        h3.section-heading Featured Project
  .featured-project
    .container
      .row
        .span7
          .featured-image
            a(href="http://harp.io/")
              img(src="/img/harp-image.jpg")
        .span5
          .featured-content
            h3
              a(href="http://harp.io/") Harp Platform
            p The first front-end as a service. Deploying apps has never been so easy.
            p Simply edit your HTML, CSS, and JavaScript files in your Dropbox and harp takes care of the rest.
            p.featured-cta
              a.btn.btn-danger.btn-large(href="http://harp.io/") Visit the Website
  .container
    .row
      .span12
        h3.section-heading Other Projects
    .row.projects
      .span6
        .project.blue
          h3 
            a(href="https://github.com/sintaxi/node-dbox") dbox
          p NodeJS SDK for Dropbox API. <br />Featured in <a href="https://www.dropbox.com/developers/reference/sdk">Dropbox website</a> as “the” NodeJS SDK to talk to Dropbox API.
          a.project-cta.btn(href="https://github.com/sintaxi/node-dbox") View it on Github
      .span6
        .project.orange
          h3
            a(href="https://github.com/sintaxi/node-rolodex") Rolodex
          p Node user management system using redis.
          a.project-cta.btn(href="https://github.com/sintaxi/node-rolodex") View it on Github
      .span6
        .project.red
          h3 
            a(href="https://github.com/sintaxi/thug") thug
          p JavaScript functional style object filtration and validation system.
          a.project-cta.btn(href="https://github.com/sintaxi/thug") View it on Github