#team.section
  .container
    .row
      .span12
        h2 Our Team
    .row
      .span8
        .team-picture
          img(src="/img/chloi-team.jpg")
      .span4
        .team-overview
          h3 Hi There!
          p We&rsquo;re Chloi and we like to build software that makes the web a better place.
          p Our goal is to build a variery of tools and open source software that help developers and designers work faster and more efficiently.
          p Don&rsquo;t forget to checkout some of the <a href="/projects">projects that we’ve worked on</a>.
          p
            a.btn.btn-large.btn-block.btn-danger(href="/contact") Get in touch with us
    hr.hr-team
    .row.team-members
      .span6
        .row.member
          .span2.member-meta
            img.member-picture(src="/img/team-rob.jpg")
            ul.unstyled.member-links
              li: a(href="http://silentrob.me")
                i.icon-large.icon-link
              li: a(href="http://twitter.com/rob_ellis")
                i.icon-large.icon-twitter
              li: a(href="http://github.com/silentrob")
                i.icon-large.icon-github
          .span4.member-info
            h3.member-name Rob Ellis
            p.member-position Co-Founder &amp; Software Engineer
            p Passionate front-end developer, co-creator of the popular <a href="http://phonegap.com/">PhoneGap</a>.
            blockquote: p &ldquo;I&rsquo;m sexy and I know it.&rdquo;
      .span6
        .row.member
          .span2.member-meta
            img.member-picture(src="/img/team-brock.jpg")
            ul.unstyled.member-links
              li: a(href="http://sintaxi.com")
                i.icon-large.icon-link
              li: a(href="http://twitter.com/sintaxi")
                i.icon-large.icon-twitter
              li: a(href="http://github.com/sintaxi")
                i.icon-large.icon-github
          .span4.member-info
            h3.member-name Brock Whitten
            p.member-position Co-Founder &amp; Software Engineer
            p Co-creator of the <a href="http://phonegap.com/">PhoneGap</a> project, conference speaker and advocate of open web standards.
            blockquote: p &ldquo;Great software invariably has two qualities—fast, and easy to use.&rdquo;
      .span6
        .row.member
          .span2.member-meta
            img.member-picture(src="/img/team-jorge.jpg")
            ul.unstyled.member-links
              li: a(href="http://jorgepedret.com")
                i.icon-large.icon-link
              li: a(href="http://twitter.com/jorgepedret")
                i.icon-large.icon-twitter
              li: a(href="http://github.com/jorgepedret")
                i.icon-large.icon-github
          .span4.member-info
            h3.member-name Jorge Pedret
            p.member-position Software Engineer &amp; Designer
            p Creative front-end developer &amp; designer with 11 years of experience working with the web.
            blockquote: p &ldquo;Strive not to be a success, but rather to be of value.&rdquo;
      .span6
        .row.member.member-maybe
          .span2.member-meta
            img.member-picture(src="/img/team-maybe.jpg")
          .span4
            .member-info
              h3.member-name Work with us, maybe?
              p We&rsquo;re always looking for talented people who can bring value to Chloi. Do you love open source software, APIs and mobile development?
              p
                a.btn.btn-success.btn-large(href="/contact") Come work with us