h1 
  a(href="#") Introducing Chloi

p Well as most people know, <a href="http://sintaxi.com">Brock</a> and I are now out on our own, and while we are still sorting out some details on what exactly we are working on, we are over at the <a href="http://hackhut.ca">HackHut</a>. HackHut is a community work space for grass root projects in Vancouver, it is great to be in a space full of like-minded developers / hackers focused on shipping code and general awesomeness.

p We are looking forward to hacking on our own projects and sharing more details about that over the next few weeks, but in the mean time stay tuned here and on twitter for more information.
