h1 
  a(href="#") Introducing Chloi

p Last month I wrote a <a href="http://silentrob.me/hello-hackhut" target="_blank">quick post over on my blog</a> that Brock and I have made the plunge and stepped out on our own and we found a warm place to work at <a href="http://www.launchacademy.ca/" target="_blank">Launch Academy</a>.

p In the past two months we have been madly working on everything at once, including our brand, website, formalizing our vision, and expanding on product ideas.

p So without further ado, we want to introduce Chloi Inc. Chloi is a mobile development studio in the heart of Vancouver, born out of the need to resolve some of the pain in mobile development, and not afraid to solve some of the harder problems.

p In 2008, Brock and I along with some other great developers created PhoneGap, and in doing so we changed the world. Our initial needs were selfish, use the web stack, an application stack we loved and believed worked. However as the project matured, and the vision expanded so did our realization that we were onto something big, much bigger then ourselves. 

P However this was only the first piece of the story, PhoneGap makes it trivial to distribute your application on almost any device, but by does little to improve the development cycle of writing your application.

p We are really excited to share some of our vision with the community, so stay tuned here, <a href="http://www.twitter.com/Chloi_inc" target="_blank">follow us on twitter</a>, or <a href="http://eepurl.com/nHRBz" target="_blank" >subscribe to our early access list</a> to get early access and stay in touch with what we are up to.
