h1 
  a(href="#") Chloi teams up with Mozilla&rsquo;s WebFWD
  
img(src="img/webfwd_icon.png")\

p Let me start this post with a question. What does Chloi and Mozilla have in common? Answer: The belief in open standards and mobile. 

p When <a href="http://www.mozilla.org/en-US/b2g/" target="_blank">Mozilla announced Firefox OS, aka b2g we were excited</a> finally a truly open web runtime for mobile we could actually build.

p Part of our vision and story is improving the ecosystem as a whole, not just for Android or iOS developers, but for everyone. Mozilla has stepped up and we are proud to support them.

p Mozilla by way of the WebFWD program has extended a warm welcome to Chloi and we are excited to work together, collaborate on how the mobile space can improve for everyone.
