.span7.sidebar
    h1 
      a(href="/") Chloi

    .icons
      ul
        li.twitter
          a(href="http://twitter.com/chloi_inc") twitter
        li.github
          a.icon.github(href="https://github.com/chloi") github