!= partial("header")

#blog.section
  .container
    .row
      .span12
        h2 Blog
          .btt <a href="#header">Top</a>
    .row
      .span6
        each article in articles
          div(style="border-bottom:2px solid #ccc;margin-bottom:15px;padding-bottom:10px")
            h3(style="margin:0px;")
              a(href="/blog/#{ article.slug }")= article.title
            span by&nbsp;
            = article.author
            &nbsp;|&nbsp;
            a(style="text-align:right")= article.date            
