h2.heading Words of Chloi

ul.articles
  each article in articles
    li(class="#{ article.color }")
      a(href="/#{ article.slug }")
        span.date(style="text-align:right")= article.date 
        =  article.title 