div(class="#{ article.color }")
  .span3
    
    .patch
      a(href="/")
        .info
          h2
            span.words Words
            span.of of
            span.chloi
              span Chloi
        .logo
          img(src="chloi-icon-500px.png")

  .span12.offset1.article
    != partial("articles/" + article.slug)

