footer.footer(role="contentinfo")
  small Copyright &copy; 2012&ndash;#{ new Date().getFullYear() } <a href="#{ author.url }">#{ author.name }</a><br/>
    | Built with <a href="http://harpjs.com" title="Harp">Harp</a> and the <a href="http://harp.io", title="Harp Platform">Harp Platform</a>
