header.header(role="banner")
  != partial("nav")
  a#nav-toggle.nav-toggle(href="#nav-bottom" aria-hidden="false") Menu
  .header-container
    a.wordmark(href="/")!=partial("../images/wordmark.svg.ejs")
