script.
  document.documentElement.className += " js";
  //<![CDATA[
  WebFontConfig = {
    typekit: {
      id: '#{ service.typekit }'
    },
    timeout: 2000
  };
  //]]>
script(async defer src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js")
