.container
  .main-container
    h1 Open Source
    p Chloi Inc. helps our clients leverage and contribute to open source projects, helping them launch faster and gain attention. <a href="/contact" title="Work with Chloi Inc.">Contact us to find out more</a> or take a look at our own open source projects.
    != partial("../_shared/open")
    h2.h1#contact Work with us
    != partial("../_shared/wufoo")